.navbar{
    background-color:white;
    width: 100%;
    height: 100px;
    border-style: groove;

    border-bottom-color: rgb(26, 25, 25);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.categorias{
    list-style: none;
    text-decoration: none;
    margin-left: -10%;
    margin-right: -10%;
    
}
.cate {
    text-shadow: 2px 2px 4px rgba(117, 117, 117, 0.833);
    color: rgb(3, 3, 3); /* O ajusta el color según tu diseño */
}
.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoria .cate{
    list-style: none;
    text-decoration: none;
    text-align: center;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.barraNavegacion{
    text-align: center;
    width: 30%;
    margin-top: 2%;
}

.logoNike{
    margin-right: 2%;
}

.cartwidget{
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartwidget .icon-cartwidget{
    font-size: 30px;
    color: #2ECC71;
}

.cartwidget .empty-cartwidget{
    font-size: 30px;
    color: rgb(64, 64, 64);
}

.cartwidget .number-cartwidget{
    padding: 0 10px;
    color: black;
}