.tituloprincipal {
        font-size: 42px;
        font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.5;
        margin-top: 5%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        position: relative;
        background-color: rgba(128, 128, 128, 0.414);
        box-shadow: 0 0 6px 0px black;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 1%;
    }
    


.item-list-container{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.itemlistcontainer .itemlist{
    display: flex;
    flex-wrap: wrap;

}
.itemlistcontainer .item{
    width: 50%;
    margin-top: 8%;
    padding: 0.50%;
    border: 3px solid rgb(234, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}
.item .card-img-top {
    width: 100%;
    border-radius: 1%;
    box-shadow: 0 0 14px gray;
    
}
.card {
    border-radius: 10px; /* Bordes redondeados para la carta */
    overflow: hidden; /* Para que los bordes redondeados no se vean fuera del contorno */
    background-color: #333333; /* Fondo oscuro para la carta */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el hover */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra más fuerte al hacer hover */
}

.card-text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    padding: 15px;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.item .card-text {
    padding: 1% 0;
}

.item {
    text-decoration: none;
}

.botonDetalle {
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #333333;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    border-radius: 25px; /* Bordes redondeados en el botón */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.botonDetalle:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra más fuerte */
    background-color: #2ECC71;
    color: white;
}

.botonDetalle:active {
    transform: translateY(1px); /* Efecto de presión al hacer clic */
}
